.minus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.2px solid rgb(189, 186, 186);
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    height: 40px;
    /* margin: 10px; */
    box-shadow: 2px 0px red;
    background-color: white;
}

.minus:hover{
    box-shadow: 3px 2px red;
}

.positive{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.2px solid rgb(189, 186, 186);
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    height: 40px;
    /* margin: 10px; */
    box-shadow: 2px 0px rgb(19, 201, 19);
    background-color: white;
}

.positive:hover{
    box-shadow: 2px 2px rgb(19, 201, 19);
}

.transaction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
}

.newTransaction_header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
}

.txn_delete{
    display: hidden;
    border: 0.5px solid gray;
    width: 15px;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 134, 155);
    color: white;
    height: 40px;
}

.txn_delete:hover{
    background-color: rgb(14, 102, 129);
    border: 0.1px solid gray;
    width: 15px;
}