
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(245, 243, 241);
    font-family: 'Nunito Sans', sans-serif;
    height: 100vh;
}